.simple-subscription-form {
  background: #0c3e5f;
  color: #fefefe;
  padding: 2rem;
  border-radius: 0;
}

.simple-subscription-form .button {
  margin-bottom: 0;
  background-color: #1779ba;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  box-shadow: 0;
  border-style: none;
  position: relative;
  right: 10px;
  line-height: 1.5em;
  color: white;
}

.input-group {
	display: flex;
	flex-flow: row;
	line-height: 2em;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 10px;

}

.input-group > span {
	background: gray;
	color: black;
	margin-right: 5px;
	min-width: 16px;
}


.input-group > input[type="email"] {
	flex: 5;
}

.input-group>button{
	flex-grow: 1;
	left: 5px;
	vertical-align: middle;
	text-align: center;
	transition: 0.5s all;
	min-width: 24px;
}

.input-group>button:hover {
	background-color: #66aeff;
}

.input-group .input-group-label {
	flex: 0.3;
	text-align: center;
}